<div class="full_width_content">
<%= render 'pages/tabs' %>
<div class="fwc_body">
<table>
  <tr>
    <th>Job</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.jobapp.job.position %></td>
    <td><%= question.body %></td>
    <td><%= link_to 'Show', job_jobapp_question_path(@job,@jobapp,question) %></td>
    <td><%= link_to 'Edit', edit_job_jobapp_question_path(@job,@jobapp,question) %></td>
    <td><%= link_to 'Destroy', job_jobapp_question_path(@job,@jobapp,question), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_job_jobapp_question_path(@job,@jobapp) %>
</div>
</div>