<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @question.jobapp.job.position %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>


<%= link_to 'Edit', edit_job_jobapp_question_path(@job,@jobapp,@question) %> |
<%= link_to 'Back', job_jobapp_questions_path(@job,@jobapp) %>
