<%= form_for(@evaluator) do |f| %>
  <% if @evaluator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluator.errors.count, "error") %> prohibited this evaluator from being saved:</h2>

      <ul>
      <% @evaluator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.where("id NOT IN (SELECT user_id FROM evaluators)").order("email"), :id, :email %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
