<%= form_for(@hiring_manager) do |f| %>
  <% if @hiring_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hiring_manager.errors.count, "error") %> prohibited this hiring_manager from being saved:</h2>

      <ul>
      <% @hiring_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
