<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :placeholder => "Enter your email or username.." %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :placeholder => "Enter your password..." %>
  </div>
  <div class="actions">
    <%= f.submit @title %>
  </div>
<% end %>