<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @comment.applicant_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_job_applicant_comment_path(@job,@applicant,@comment) %> |
<%= link_to 'Back', job_applicant_comments_path(@job,@applicant) %>
