<div class="full_width_content">
  <h1>Administration</h1>
  <%= render 'pages/admin_tabs' %>
  <div class="fwc_body">
  	<h3>Applicants</h3>
    <% @jobs.each do |job| %>
    <% if !job.applicants.empty? %>
      <h4><%= job.position %></h4>
        <div id="table_border">
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Created on</th>
                <th>Last Updated</th>
                <th>Submitted?</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% job.applicants.each do |applicant| %>
                <tr>
                  <td>
                    <%= link_to User.find(applicant.user_id), 
                        job_jobapp_applicant_path(job,job.jobapp,applicant) %>
                  </td>
                  <td><%= applicant.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= time_ago_in_words applicant.updated_at %> ago</td>
                  <td><%= applicant.published? ? "Yes" : "No" %></td>
                  <td style='text-align: right'><%= link_to_destroy_applicant applicant %></td>
                </tr>
              <% end %>
            </tbody>   
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>