<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Administration</h1>
  <%= render 'pages/admin_tabs' %>
  <div class="fwc_body">
  	<h3>Applications</h3>
  	 <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Created on</th>
          <th>Last Updated</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><%= Job.find(application.job_id).position %></td>
            <td><%= application.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= time_ago_in_words application.updated_at %> ago</td>
            <td></td>
            <td></td>
            <td style='text-align: right'>Destroy</td>
          </tr>
        <% end %>
      </tbody>   
    </table> 
 </div>

</div>