<div class="full_width_content">
  <h1>Administration</h1>
  <%= render 'pages/admin_tabs' %>
  <div class="fwc_body">
    <h3>Confirmations</h3>
    <div id="table_border">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Created at</th>
          <th>Confirm hash</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <% @confirmations.each do |confirmation| %>
      <tr>
        <td><%= link_to confirmation.user, confirmation.user %></td>
        <td><%= time_ago_in_words(confirmation.created_at) %> ago</td>
        <td><%= link_to confirmation.confirm_hash, 
                  "/users/#{confirmation.user_id}/confirm/#{confirmation.confirm_hash}" %></td>
        <td style='text-align: right'>      
          <%= link_to 'Destroy', confirmation, confirm: 'Performing this action will remove all related data, including job applications that belong to this user. Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>   
    </table> 
  </div>
 </div>
</div>