<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Administration</h1>
  <%= render 'pages/admin_tabs' %>
  <div class="fwc_body">
    <h3>Jobs</h3>
    <div id="table_border">
     <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Created on</th>
          <th>Last Updated</th>
          <th>Published?</th>
          <th># Applicants</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to job.position, job %></td>
            <td><%= job.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= time_ago_in_words job.updated_at %> ago</td>
            <td><%= job.published ? "Yes" : "No" %></td>
            <td><%= job.applicants.count %></td>
            <td style='text-align: right'>
              <%= link_to content_tag(:span,'Destroy'), job, confirm: 'Are you sure?', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>   
    </table> 
 </div>
</div>
</div>