<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Administration</h1>
  <%= render 'pages/admin_tabs' %>
  <div class="fwc_body">
    <h3>Users</h3>
    <div id="table_border">
    <table>
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>Signup Date</th>
          <th># Applications</th>
          <th># References</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.lastname %></td>
        <td><%= user.firstname %></td>
        <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= user.applicants.count %></td>
        <td><%= user.references.count %></td>
        <td style='text-align: right'>
          <%= link_to 'Deactivate', deactivate_user_path(user.id), confirm: 'Performing this action will keep all related data, but prevent user from logging in. Are you sure?' %> ||  
          <%= link_to 'Destroy', user, confirm: 'Performing this action will remove all related data, including job applications that belong to this user. Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>   
    </table> 
  </div>
 </div>

</div>