<%= form_for([@job,@job.jobapp,@applicant],:html => { :multipart => true }) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3>Introduction</h3>
<%= !@job.jobapp.intro.nil? ? @job.jobapp.intro.html_safe : nil %>
<%= f.fields_for :answers do |builder| %>
<% if builder.object.question.qtype == "short" %>
<div class="fields">
  <h3>Short Answer</h3>
  <%= builder.object.question.body.html_safe unless builder.object.question.body.nil? %><br />
  <%= builder.hidden_field :question_id %>
  <%= builder.label :body %><br />
  <%= builder.text_area :body %>
</div>
<% end %>
<% if builder.object.question.qtype == "file" %>
  <div class="field">
    <h3>File Attachment</h3>
    <p><%= builder.object.question.body.html_safe unless builder.object.question.body.nil? %></p>
    <%= builder.hidden_field :question_id %>
    <%= builder.file_field :photo %>
  </div>
  <% end %>
  <% if builder.object.question.qtype == "multiple" %>
  <div class="field">
    <h3>Multiple Choice</h3>
    <%= builder.object.question.body.html_safe unless builder.object.question.body.nil? %>
    <ul>
      <%= builder.hidden_field :question_id %>
      <li>
        <%= builder.radio_button :body, builder.object.question.choice_a %>
        <%= builder.object.question.choice_a %>
      </li>
      <li>
        <%= builder.radio_button :body, builder.object.question.choice_b %>
        <%= builder.object.question.choice_b %>
      </li>
      <li>
        <%= builder.radio_button :body, builder.object.question.choice_c %>
        <%= builder.object.question.choice_c %>
      </li>
      <li>
        <%= builder.radio_button :body, builder.object.question.choice_d %>
        <%= builder.object.question.choice_d %>
      </li>
    </ul>
  </div>
  <% end %>
<% end %>
<h3>Submit Application</h3>
<div class="fields">
  <%= f.label "Submit application?" %>
  <%= f.check_box :published %> Yes
</div>
<p>Note: Once your application has been submitted, you will not be able to make changes. To submit your application, check the box above, then click Save Application. Your application will be submitted for evaluation.

To save an application for completion at a later date, do not check the box above. Click Save Application. You may edit your saved application at any time by accessing it via your <%= link_to "profile", current_user %>.
  <div class="actions">
    <%= f.submit "Save Application" %>
  </div>
<% end %>
