<%= form_for([@job,@applicant]) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= f.fields_for :answers do |builder| %>
<div class="fields">
  <%= builder.label "Question" %><br />
  <%= builder.object.question.body %><br />
  <%= builder.hidden_field :question_id %>
  <%= builder.label :body %><br />
  <%= builder.text_field :body %>
</div>

<% end %>
  <p>To save your application, click save.</p>
  <div class="actions">
    <%= f.submit "Save Application" %>
  </div>
<% end %>
