<%= form_for([@job,@applicant],:html => { :multipart => true }) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3>Introduction</h3>
<%= !@job.jobapp.intro.nil? ? @job.jobapp.intro.html_safe : nil %>
<%= f.fields_for :answers do |builder| %>
<% if builder.object.question.qtype == "short" %>
<div class="fields">
  <h3>Short Answer</h3>
  <%= builder.object.question.body.html_safe %><br />
  <%= builder.hidden_field :question_id %>
  <%= builder.label :body %><br />
  <%= builder.text_area :body %>
</div>
<% end %>
<% if builder.object.question.qtype == "file" %>
  <div class="field">
    <h3><%= "#{builder.object.question.body}" %></h3>
    <%= builder.hidden_field :question_id %>
    <%= builder.file_field :photo %>
  </div>
  <% end %>
<% end %>
  <p>To save your application, click save.</p>
  <div class="actions">
    <%= f.submit "Save Application" %>
  </div>
<% end %>
