<h3>Applicants</h3>
<div id="table_border">
  <table>
    <tr>
      <th>Name</th>
      <th>Applied</th>
      <th>Average Rating</th>
      <th></th>
      <th></th>
    </tr>

    <% @applicants.each do |applicant| %>
      <% if has_rated_applicant? applicant %>
        <%= set_row_color(applicant).html_safe %>
          <td><%= link_to applicant.user, job_jobapp_applicant_path(@job,@job.jobapp,applicant) %></td>
          <td><%= applicant.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= applicant.ratings.average('rating') %></td>
          <td><%= link_to 'Display', job_jobapp_applicant_path(@job,@job.jobapp,applicant) %></td>
          <td>
            <span  class="rating_text_row"><%= link_to 'Destroy', job_jobapp_applicant_path(@job,@job.jobapp,applicant), 
                                                confirm: 'Are you sure?', method: :delete %>
            </span>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>