<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
    <table>
      <tr>
        <th>Name</th>
        <th>Applied</th>
        <th>Average Rating</th>
        <th></th>
        <th></th>
      </tr>

    <% @applicants.each do |applicant| %>
      <%= set_row_color(applicant).html_safe %>
        <td><%= link_to applicant.user, job_applicant_path(@job,applicant) %></td>
        <td><%= applicant.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= applicant.avgrating %></td>
        <td><%= link_to 'Show', job_applicant_path(@job,applicant) %></td>
        <td>
          <span  class="rating_text_row"><%= link_to 'Destroy', job_applicant_path(@job,applicant), 
                                              confirm: 'Are you sure?', method: :delete %>
          </span>
        </td>
      </tr>
    <% end %>
    </table>
    <h4>Total Applicants: <%= @applicants.count %></h4>
    <h4>Total Comments: <%= get_total_comments(@applicants) %></h4>
    <h4>Total Ratings: <%= get_total_ratings(@applicants) %></h4>
  </div>
</div>