<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
    <% if !@unrated_applicants.empty? %>
      <%= render 'unrated_applicants' %>
    <% end %>
    <% if !@applicants.empty? %>
      <%= render 'rated_applicants' %>
    <% else %>
        No applicants with ratings to display.
    <% end %>

    <h4>Total Applicants: <%= @job.applicants.where("published = ?", true).count %></h4>
    <h4>Total Comments: <%= get_total_comments(@job.applicants.where("published = ?", true)) %></h4>
    <h4>Total Ratings: <%= get_total_ratings(@job.applicants.where("published = ?", true)) %></h4>
  </div>
</div>