<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
  <h3>Applicant Name</h3>
<p>
  <%= User.find(@applicant.user_id) %>
</p>


<h3>Position</h3>
<p>
  <%= Job.find(@applicant.job_id).position %>
</p>

<h3>Rating</h3>
<p>
  Average: <%= get_applicant_rating @applicant %><br />
  <% if !@applicant.ratings.empty? %>
  Total: <%= @applicant.ratings.count %><br />
  Max: <%= @applicant.ratings.order("rating").first.rating %><br />
  Min: <%= @applicant.ratings.order("rating").last.rating %>
  <% end %>
</p>
<p>
  <b>Answers:</b>
  <ul>
    <% @applicant.answers.each do |answer| %>
      <li>
        Question:<br />
        <p>
          <%= answer.question.body %>
        </p>
        Answer:<br />
        <p>
          <%= answer.body %>
          <% if answer.question.qtype == "file" %>
            <%= link_to "View Attachment", show_attachment_url(@applicant.id,answer.id) %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</p>
<h3>Evaluator Comments</h3>
<p>
  <% @applicant.comments.each do |comment| %>
  <p><%= User.find(comment.user_id) %></p>
  <p><%= comment.body %></p>
  <% end %>
</p>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_job_applicant_path(@applicant) %> |
<%= link_to 'Back', job_applicants_path %>
</div>
</div>