<div class="full_width_content">
  <%= render 'pages/tabs' %>
    <div class="fwc_body">
      <div class="applicant_left">
      <%= render 'general_info.html.erb' %>
      <%= render "average_rating" %>
    </div>
    <div class="applicant_right">
      <div class="container">
        <%= render 'survey_responses' %>
      </div>
      <div class="container">
        <%= render 'references' %>
      </div>
      <div class="container">
        <% if has_rated_applicant?(@applicant) %>
          <%= render 'ratings/rate_applicant' %>
        <% else %>
          <%= render 'ratings' %>
        <% end %>
      </div>
    </div>
  </div>
</div>