<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @applicant.user_id %>
</p>

<p>
  <b>Job:</b>
  <%= @applicant.job_id %>
</p>
<p>
  <b>Rating:</b>
  <%= get_applicant_rating @applicant %>
</p>
<p>
  <b>Comments:</b>
  <% @applicant.comments.each do |comment| %>
  <p><%= comment.user %></p>
  <p><%= comment.body %></p>
  <% end %>
</p>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_job_applicant_path(@applicant) %> |
<%= link_to 'Back', job_applicants_path %>
