<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
<p>
  <b>User:</b>
  <%= @applicant.user_id %>
</p>

<p>
  <b>Job:</b>
  <%= @applicant.job_id %>
</p>
<p>
  <b>Rating:</b>
  <%= get_applicant_rating @applicant %>
</p>
<p>
  </b>Answers:</b>
  <ul>
    <% @applicant.answers.each do |answer| %>
      <li>
        Question:<br />
        <p>
          <%= answer.question.body %>
        </p>
        Answer:<br />
        <p>
          <%= answer.body %>
        </p>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <b>Comments:</b>
  <% @applicant.comments.each do |comment| %>
  <p><%= User.find(comment.user_id) %></p>
  <p><%= comment.body %></p>
  <% end %>
</p>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_job_applicant_path(@applicant) %> |
<%= link_to 'Back', job_applicants_path %>
</div>
</div>