<h1>Listing applicant_responses</h1>

<table>
  <tr>
    <th>Applicant</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicant_responses.each do |applicant_response| %>
  <tr>
    <td><%= applicant_response.applicant_id %></td>
    <td><%= applicant_response.response %></td>
    <td><%= link_to 'Show', applicant_response %></td>
    <td><%= link_to 'Edit', edit_applicant_response_path(applicant_response) %></td>
    <td><%= link_to 'Destroy', applicant_response, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicant response', new_applicant_response_path %>
