<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @applicant_response.applicant_id %>
</p>

<p>
  <b>Response:</b>
  <%= @applicant_response.response %>
</p>


<%= link_to 'Edit', edit_applicant_response_path(@applicant_response) %> |
<%= link_to 'Back', applicant_responses_path %>
