<%= render 'pages/fancy_textarea' %>
<%= render 'pages/confirm_before_close' %>
<%= form_for(@job) do |f| %>
    <%= f.submit "Save Changes" , :class => "save_changes_button", :onclick => "needToConfirm = false;" %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Position</h3>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <h3>Description</h3>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <h3>Minimum Qualifications</h3>
    <%= f.text_area :minimum_qualifications %>
  </div>

  <div class="field">
    <h3>Preferred Qualifications</h3>
    <%= f.text_area :preferred_qualifications %>
  </div>

  <div class="field">
    <h3>Responsibilities</h3>
    <%= f.text_area :responsibilities %>
  </div>

  <div class="field">
    <h3>Salary</h3>
    <%= f.text_area :salary %>
  </div>

  <div class="field">
    <h3>Department</h3>
    <%= f.text_area :department %>
  </div>
  
  <h3>Publish Job</h3>
  <p>Check the box below to make this job public.</p>
  <div class="fields">
    <%= f.label "Publish job post?" %>
    <%= f.check_box :published %> Yes
</div>
<% end %>
