<%= render 'pages/side_nav' %>
<div class="content_with_nav">
<p id="notice"><%= notice %></p>
  <h1>Listing jobs</h1>

  <% @jobs.each do |job| %>
    <div class="job_container">
      <ul> 
        <li>Position: <%= job.position %></li>
        <li>Description: <%= job.description %></li>
        <li>Requirements: <%= job.requirements %></li>
        <li>Hiring Manager: <%= display_hiring_manager(job.hiring_manager_id) %><% job.hiring_manager_id %></li>
        <% if is_a_hiring_manager? %>
          <li><%= link_to 'Show', job %> |  
          <%= link_to 'Edit', edit_job_path(job) %> | 
          <%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %> |
          <%= link_to 'Applicants', job_applicants_path(job) %>(<%= job.applicants.count %>)</li>
        <% end %>
      </ul>
    </div>
    <div class="job_separator"></div>
  <% end %>

  <br />

  <%= link_to 'New Job', new_job_path %>
</div>
