<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Listing jobs</h1>
  <%= "render 'pages/tabs'" %>
  <div class="fwc_body">

  <% @jobs.each do |job| %>
  <div class="job_container">
    <nav>
      <% if signed_in? %>
        <% if is_faculty? %>
          <%= link_to_view_applicants job %>
        <% end %>
        <% if is_the_hiring_manager? job %>
          <%= link_to content_tag(:span,'Edit'), edit_job_path(job) %>
        <% end %>
      <% end %>
      <%= link_to content_tag(:span, 'Details'), job %>
      <%= link_to content_tag(:span, 'Apply Now!'), new_job_jobapp_applicant_path(job,job.jobapp) %>
    </nav>
      <h3><%= link_to job.position, job %></h3>
      <ul> 
        <li><b>Description</b><br /> <%= job.description.html_safe %></li>
        <li><b>Date Posted</b><br /> <%= job.created_at.strftime("%m/%d/%Y") %></li>
        </li>
      </ul>
    </div>
  <% end %>

  <br />
  <%= will_paginate @jobs %>
  <%= link_to 'New Job', new_job_path if is_a_hiring_manager? %>
</div>
</div>