<p id="notice"><%= notice %></p>
<div class="full_width_content">
<%= render 'pages/tabs' %>
<div class="fwc_body">
<p>
  <b>Position:</b>
  <%= @job.position %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Minimum Qualifications:</b>
  <%= @job.minimum_qualifications %>
</p>

<p>
  <b>Preferred Qualifications:</b>
  <%= @job.preferred_qualifications %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= @job.responsibilities %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Department:</b>
  <%= @job.department %>
</p>

<p>
  <b>Hiring manager:</b>
  <%= @job.hiring_manager_id %>
</p>

<%= link_to "Apply", new_job_applicant_path(@job) %> |
<% if is_a_hiring_manager? %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>
<%= link_to 'Back', jobs_path %>
</div>
</div>
