<p id="notice"><%= notice %></p>
<div class="full_width_content">
<%= render 'pages/tabs' %>
<div class="fwc_body">

  <% if is_a_hiring_manager? %>
    <%= link_to image_tag('/assets/pencil_edit.png'), edit_job_path(@job), :class => "edit_button" %>
  <% end %>

  <h3>Description</h3>
  <%= BlueCloth.new(@job.description).to_html.html_safe %>


  <h3>Minimum Qualifications</h3>
  <%= BlueCloth.new(@job.minimum_qualifications).to_html.html_safe %>

  <h3>Preferred Qualifications</h3>
  <%= BlueCloth.new(@job.preferred_qualifications).to_html.html_safe %>

  <h3>Responsibilities</h3>
  <%= BlueCloth.new(@job.responsibilities).to_html.html_safe %>

  <h3>Salary</h3>
  <%= BlueCloth.new(@job.salary).to_html.html_safe %>

  <h3>Department</h3>
  <%= BlueCloth.new(@job.department).to_html.html_safe %>

  <h3>Hiring manager</h3>
  <%= BlueCloth.new(display_hiring_manager(@job.hiring_manager_id)).to_html.html_safe %>

</div>
</div>
