<%= render 'pages/fancy_textarea_small' %>
<%= form_for([@job,@job.jobapp,@applicant,@additional_fact]) do |f| %>
  <% if @additional_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional_fact.errors.count, "error") %> prohibited this additional_fact from being saved:</h2>

      <ul>
      <% @additional_fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :fact %>
  </div>
  <div class="actions">
    <%= f.submit "Add Fact" %>
  </div>
<% end %>
