<p id="notice"><%= notice %></p>

<p>
  <b>Evaluator:</b>
  <%= @additional_fact.evaluator_id %>
</p>

<p>
  <b>Applicant:</b>
  <%= @additional_fact.applicant_id %>
</p>

<p>
  <b>Fact:</b>
  <%= @additional_fact.fact %>
</p>


<%= link_to 'Edit', edit_additional_fact_path(@additional_fact) %> |
<%= link_to 'Back', additional_facts_path %>
