<% if @user.references.count > 0 %>
<div class="container">
<h3>References (<%= @user.references.count %>)</h3>
<% if @user.references.empty? %>
  <p>No references available.</p>
<% else %>
<div id="table_border">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Submitted</th>
      <th># Words</th>
    </tr>
  </thead>
  <tbody>
    <% @user.references.each do |reference| %>
    <tr>
      <td><%= reference.firstname %> <%= reference.lastname %></td>
      <td><%= reference.created_at.strftime("%b %d, %Y") %></td>
      <td><%= reference.letter.split.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<p>
</div>
<% end %>
