<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Profile</h1>
  <%= render 'pages/profile_tabs' %>
  <div class="fwc_body">

<p>
  <b>Name:</b><br />
  <%= @user.firstname %> <%= @user.lastname %>
</p>
<p>
  <b>Email:</b><br />
  <%= @user.email %>
</p>
<p>
  <b>Reference Link:</b>
  <%= show_link_to_new_user_reference(@user) %>
</p>
</div>
</div>