<div class="full_width_content">
  <h1>Profile</h1>
  <%= render 'pages/profile_tabs' %>
  <div class="fwc_body">
    <div class="applicant_left">
      <h3>Name</h3>
      <p>
        <%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %>
      </p>
      <h3>Email</h3>
      <p>
        <%= mail_to @user.email, @user.email %>
      </p>
      <h3>Phone</h3>
      <p>
        <%= @user.phone.nil? ? "None provided" : @user.phone %>
      </p>
      <h3>Address</h3>
      <p>
        <%= @user.address.nil? ? "None provided" : @user.address %>
      </p>
    </div>
    <div class="applicant_right">
      <% if is_a_hiring_manager? %>
        <div class="container">
          <%= render "myjobpostings" %>
        </div>
      <% end %>
      <div class="container">
        <h3>My Jobs</h3>
        <%= render "jobapps" %>
      </div>
      <div class="container">
        <h3>Request a reference</h3>
        <p>
          Fill out the email address of your referral below.
        </p>
        <p>
          <%= form_tag("/#{current_user.id}/request_reference", :id => "request_reference_form") do |f| %>
            <%= text_field_tag :email, params[:email], :placeholder => "Enter email here" %>
            <%= submit_tag "Request Reference" %>
          <% end %>
        </p>
      </div>
      <div class="container">
        <%= render "references" %>
        <% if is_an_administrator? %>
          <p>
            <b>Reference Hash:</b>
            <%= link_to @user.reference_hash, "/references/#{@user.id}/#{@user.reference_hash}" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>