<%= form_for(@applicant_question) do |f| %>
  <% if @applicant_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant_question.errors.count, "error") %> prohibited this applicant_question from being saved:</h2>

      <ul>
      <% @applicant_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :applicant_id %><br />
    <%= f.number_field :applicant_id %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
