<h1>Listing applicant_questions</h1>

<table>
  <tr>
    <th>Applicant</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicant_questions.each do |applicant_question| %>
  <tr>
    <td><%= applicant_question.applicant_id %></td>
    <td><%= applicant_question.question %></td>
    <td><%= link_to 'Show', applicant_question %></td>
    <td><%= link_to 'Edit', edit_applicant_question_path(applicant_question) %></td>
    <td><%= link_to 'Destroy', applicant_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicant question', new_applicant_question_path %>
