<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @applicant_question.applicant_id %>
</p>

<p>
  <b>Question:</b>
  <%= @applicant_question.question %>
</p>


<%= link_to 'Edit', edit_applicant_question_path(@applicant_question) %> |
<%= link_to 'Back', applicant_questions_path %>
