<%= render 'pages/fancy_textarea' %>
<%= render 'pages/confirm_before_close' %>
<%= form_for([@job,@job.jobapp]) do |f| %>
  <% if @jobapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobapp.errors.count, "error") %> prohibited this jobapp from being saved:</h2>

      <ul>
      <% @jobapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Introduction</h3>
    <%= f.text_area :intro %>
  </div>
<div id="qfc">
  <%= render 'question_fields', :ff => f, :q => :questions %>
</div>
<h3>Add Question</h3>
<ul id="add_question_buttons">
  <%= link_to content_tag(:li, 'Short Answer'), 
        edit_job_jobapp_path(@job,@job.jobapp, :add_question => "short") %>
  <%= link_to content_tag(:li, 'Multiple Choice'), 
        edit_job_jobapp_path(@job,@job.jobapp, :add_question => "multiple") %>
  <%= link_to content_tag(:li, 'File Attachment'), 
        edit_job_jobapp_path(@job,@job.jobapp, :add_question => "file") %>
</ul>
<h3>Save Changes</h3>
<div class="field">
 <%= f.label :published %>
 <%= f.check_box :published, :confirm => "Are you sure?" %>
</div>
<div class="action">
  <%= f.submit "Save Changes" , :class => "save_changes_button", :onclick => "needToConfirm = false;"  %>
  <%= f.submit "Save Changes", :onclick => "needToConfirm = false;"  %>
</div>
<% end %>
