<%= render 'pages/fancy_textarea' %>
<%= render 'pages/confirm_before_close' %>
<%= form_for([@job,@job.jobapp]) do |f| %>
  <%= f.submit "Save Changes" , :class => "save_changes_button" %>
  <% if @jobapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobapp.errors.count, "error") %> prohibited this jobapp from being saved:</h2>

      <ul>
      <% @jobapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Introduction</h3>
    <%= f.text_area :intro %>
  </div>
<div id="qfc">
 
  <%= render 'question_fields', :ff => f, :q => :questions %>


</div>

<ul>

<li><%= link_to "Short Answer", edit_job_jobapp_path(@job,@job.jobapp, :add_question => "short") %></li>
<li><%= link_to "Multiple Choice", edit_job_jobapp_path(@job,@job.jobapp, :add_question => "multiple") %></li>
<li><%= link_to "File Attachment", edit_job_jobapp_path(@job,@job.jobapp, :add_question => "file") %></li>
</ul>

<div class="fields">
 <%= f.label :published %>
 <%= f.check_box :published, :confirm => "Are you sure?" %>
</div>
<% end %>
