<%= ff.fields_for :questions do |builder| %>

<% if builder.object.qtype == "short" %>
<div class="field">
<%= builder.label "Short Answer" %><br />  
<%= builder.text_area :body %>
<%= link_to "R", job_jobapp_question_path(@job,@job.jobapp,builder.object), :confirm => "Are you sure?", :method => :delete %>
</div> 
<% end %>
  <% if builder.object.qtype == "multiple" %>
  <div class="fields">
    <%= builder.label "Multiple Choice" %><br />  
    <%= builder.text_field :body %>
    <%= builder.radio_button :body, "" %>
    <%= link_to "R", job_jobapp_question_path(@job,@job.jobapp,builder.object), :confirm => "Are you sure?", :method => :delete %>
    </div>
  <% end %>


  <% if builder.object.qtype == "file" %>
  <div class="fields">
    <%= builder.label "Attachment Required" %> <br />
    <%= builder.text_field :body %> <br />
    <%= link_to "Remove", job_jobapp_question_path(@job,@job.jobapp,builder.object), :confirm => "Are you sure?", :method => :delete %>
  </div>
  <% end %>
<% end %>