<h1>Listing jobapps</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Intro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobapps.each do |jobapp| %>
  <tr>
    <td><%= jobapp.job_id %></td>
    <td><%= jobapp.intro %></td>
    <td><%= link_to 'Show', job_jobapp_path(@job,jobapp) %></td>
    <td><%= link_to 'Edit', edit_job_jobapp_path(@job,jobapp) %></td>
    <td><%= link_to 'Destroy', job_jobapp_path(@job,jobapp), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jobapp', new_job_jobapp_path(@job) %>
