<p id="notice"><%= notice %></p>

<div class="full_width_content">
<%= render 'pages/tabs' %>

<div class="fwc_body">
  <% if is_a_hiring_manager? %>
    <%= link_to image_tag('/assets/pencil_edit.png'), edit_job_jobapp_path(@job,@job.jobapp), :class => "edit_button" %>
  <% end %>
<h3>Introduction</h3>

<p><%= @jobapp.intro.nil? ? "" : @jobapp.intro.html_safe %></p>

<% @jobapp.questions.each do |question| %>
  <% if question.qtype == "short" %>
  <div class="fields">
    <h3>Short Answer</h3>
    <%= question.body.nil? ? "" : question.body.html_safe %>
  </div>
  <% end %>

  <% if question.qtype == "multiple" %>
    <h3>Multiple Choice</h3>
    <%= question.body.nil? ? "" : question.body.html_safe  %>
  <% end %>

  <% if question.qtype == "file" %>
    <h3>File Attachment</h3>
    <%= question.body.nil? ? "" : question.body.html_safe %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_job_jobapp_path(@job,@jobapp) %> |
<%= link_to 'Back', job_path(@job) %>
</div>
</div>