<%= form_for([@job,@applicant,@rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "1" %>
    <%= f.radio_button :rating, '1' %><br />
    <%= f.label "2" %>
    <%= f.radio_button :rating, '2' %><br />
    <%= f.label "3" %>
    <%= f.radio_button :rating, '3' %><br />
    <%= f.label "4" %>
    <%= f.radio_button :rating, '4' %><br />
    <%= f.label "5" %>
    <%= f.radio_button :rating, '5' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
