<%= form_for([@job,@job.jobapp,@applicant,@rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="rating_scale">
    <div class="field">
    <%= f.radio_button :rating, '1' %>
    <%= f.label "1: Unacceptable" %>
    </div>
    <div class="field">
    <%= f.radio_button :rating, '2' %>
    <%= f.label "2: Below Average" %>
    </div>
    <div class="field">
      <%= f.radio_button :rating, '3' %>
      <%= f.label "3: Average" %>
    </div>
    <div class="field">
      <%= f.radio_button :rating, '4' %>
      <%= f.label "4: Above Average" %>
    </div>
    <div class="field">
    <%= f.radio_button :rating, '5' %>
    <%= f.label "5: Outstanding" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
