<nav>
  <%= link_to content_tag(:span, 'Users'), '/admin/users' %>
  <%= link_to content_tag(:span, 'Jobs'), '/admin/jobs' %>
  <%= link_to content_tag(:span, 'Applications'), '/admin/applications' %>
  <%= link_to content_tag(:span, 'Ratings'), '/admin/ratings' %>
  <%= link_to content_tag(:span, 'Administrators'), '/admin/administrators' %>
  <%= link_to content_tag(:span, 'Hiring Managers'), '/admin/hiringmanagers' %>
  <%= link_to content_tag(:span, 'Evaluators'), '/admin/evaluators' %>
</nav>