<nav>
  <%= link_to content_tag(:span, 'Users', :id => @tab == "users" ? "current_tab" : ""),
    '/admin/users' %>

  <%= link_to content_tag(:span, 'Confirmations', :id => @tab == "confirmations" ? "current_tab" : ""),
    '/admin/confirmations' %>

  <%= link_to content_tag(:span, 'Reset Requests', :id => @tab == "reset_requests" ? "current_tab" : ""),
    '/admin/reset_requests' %>

  <%= link_to content_tag(:span, 'Permissions', :id => @tab == "permissions" ? "current_tab" : ""),
    '/admin/permissions' %>

  <%= link_to content_tag(:span, 'Jobs', :id => @tab == "jobs" ? "current_tab" : ""),
    '/admin/jobs' %>

  <%= link_to content_tag(:span, 'Applicants', :id => @tab == "applicants" ? "current_tab" : ""),
    '/admin/applicants' %>

  <%= link_to content_tag(:span, 'Additional Facts', :id => @tab == "additional_facts" ? "current_tab" : ""),
    '/admin/additional_facts' %>

  <%= link_to content_tag(:span, 'Ratings', :id => @tab == "ratings" ? "current_tab" : ""),
    '/admin/ratings' %>
</nav>