<nav>
  <%= link_to content_tag(:span, 'Users'), '/admin/users' %>
  <%= link_to content_tag(:span, 'Jobs'), '/admin/jobs' %>
  <%= link_to content_tag(:span, 'Applicants'), '/admin/applicants' %>
  <%= link_to content_tag(:span, 'Ratings'), '/admin/ratings' %>
  <%= link_to content_tag(:span, 'Permissions'), '/admin/permissions' %>

</nav>