<h1><%= @job.position %>&nbsp</h1>
<nav>
<% if @job.id.nil? %>
  <span>New Job</span>
<% else %>
  <%= link_to content_tag(:span, 'Overview', :id => is_current_job_page?('Overview')), @job %>
    <%= link_to content_tag(:span, 'Application', :id => is_current_job_page?('Application')), job_jobapp_path(@job,@job.jobapp) %>
    <% if is_faculty? %>
      <%= link_to content_tag(:span, 'Applicants', :id => is_current_job_page?('Applicants')), job_jobapp_applicants_path(@job,@job.jobapp) %>
    <% end %>
  <%= link_to content_tag(:span, 'Apply', :id => is_current_job_page?('Apply')), new_job_jobapp_applicant_path(@job,@job.jobapp) %>
<% end %>
</nav>