<h1><%= @job.position %></h1>
<nav>
  <% if @job.id.nil? %>
    <span>New Job</span>
  <% else %>
    <%= link_to content_tag(:span, 'Overview', :id =>  @tab == "overview" ? "current_tab" : ""),
      @job %>

    <%= link_to content_tag(:span, 'Application', :id=> @tab == "application" ? "current_tab" : ""),
      job_jobapp_path(@job,@job.jobapp) %>

    <% if is_faculty? %>
      <%= link_to content_tag(:span, 'Applicants', :id => @tab == "applicants" ? "current_tab" : ""), job_jobapp_applicants_path(@job,@job.jobapp) %>
    <% end %>

    <%= link_to content_tag(:span, 'Apply', :id => @tab == "apply" ? "current_tab" : ""), new_job_jobapp_applicant_path(@job,@job.jobapp) %>
  <% end %>
</nav>