<h1><%= @job.position %></h1>
<nav>
    <% if is_faculty? %>
      <span><%= link_to "Job", @job %></span>
      <span><%= link_to "Applicants", job_applicants_path(@job) %></span>
      <span><%= link_to "Questions", job_questions_path(@job) %></span>
    <% end %>
  <span><%= link_to "Apply", new_job_applicant_path(@job) %></span>
</nav>