<%= form_for(@reset_request) do |f| %>
  <% if @reset_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reset_request.errors.count, "error") %> prohibited this reset_request from being saved:</h2>

      <ul>
      <% @reset_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :request_hash %><br />
    <%= f.text_field :request_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
