<h1>Listing reset_requests</h1>

<table>
  <tr>
    <th>User</th>
    <th>Request hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reset_requests.each do |reset_request| %>
  <tr>
    <td><%= reset_request.user_id %></td>
    <td><%= reset_request.request_hash %></td>
    <td><%= link_to 'Show', reset_request %></td>
    <td><%= link_to 'Edit', edit_reset_request_path(reset_request) %></td>
    <td><%= link_to 'Destroy', reset_request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reset request', new_reset_request_path %>
