<%= render 'pages/fancy_textarea' %>
<%= form_for @reference, :url => { :action => "create" } do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% @reference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :reference_hash, :value=> params[:reference_hash] %>
  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <h3>Welcome</h3>
  <p>Please fill out the form below to leave a reference for, <%= User.find(params[:user_id]) %>.</p>

  <h3>Your Information</h3>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <h3>Letter of Reference</h3>
  <div class="field">
    <%= f.text_area :letter %>
  </div>
  <h3>Add Attachment</h3>
  <div class="field">
    
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Reference" %>
  </div>
<% end %>
