<h1>Listing confirmations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confirmations.each do |confirmation| %>
  <tr>
    <td><%= confirmation.user_id %></td>
    <td><%= confirmation.hash %></td>
    <td><%= link_to 'Show', confirmation %></td>
    <td><%= link_to 'Edit', edit_confirmation_path(confirmation) %></td>
    <td><%= link_to 'Destroy', confirmation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Confirmation', new_confirmation_path %>
