<!DOCTYPE html>
<html>
<head>
  <title>JobmeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1><span>Job</span><i>Me</i></h1>
	<%= render 'sessions/login_form_small' %>
</header>

<div class="main_container">
	<div class="main_content">
		<%= yield %>
	</div>
	<footer>
	<%= render 'pages/footer' %>
	</footer>
</div>

</body>
</html>
