<!DOCTYPE html>
<html>
<head>
  <title>JobmeApp</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render 'pages/fancy_textarea' %>
<header>
  <h1><span>Job</span><i>Me</i></h1>
	<%= render 'pages/header' %>
</header>

<div class="main_container">
	<div class="main_content">
		<%= yield %>
		<div class="clear_floats"></div>
	</div>
	<footer>
		<%= render 'pages/footer' %>
	</footer>
<%= debug(params) if Rails.env.development? and check_for_debug %>

</div>
</body>
</html>
